/******************
GENERAL
******************/
body{
  background-image: url('background.jpg');
}
.budgetHolder{
  text-align: center;
}
.budgetText{
  color: yellowgreen;
}
.helloWorld{
  color: blue;
}
/******************
HEADER
******************/
header{
  background: #6ab47b;
  border-color: #599a68;
}
/******************
NAV
******************/
a{
  text-decoration: none;
}
