/******************
GENERAL
******************/
body{
  background-image: url('background.jpg');
}
#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
.budgetHolder{
  background-color: rgba(30, 30, 30, .9);
  color: white;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  /*text-align: center;*/
}
.budgetText{
  color: #fff;
}
.helloWorld{
  color: blue;
}
p{
  color: #fff;
}
/******************
FONTS
******************/
h1{
  font-family: 'Changa One', 'Sans-serif';
}

/******************
SUBTRACT PAGE
******************/
.subtractInputs{
  display: block;
  margin: 5px auto;
}

/******************
HEADER
******************/
header{
  background: #6ab47b;
  border-color: #599a68;
}
/******************
NAV
******************/
.main-nav {
  text-align: center;
}
.header-nav {
  padding: 0px;
  display: inline-block;
}

.nav-link {
  display: inline;
  padding-right: 7px;
}

a {
  text-decoration: none;
}
/******************
ABOUT PAGE
******************/
#aboutParagraph{
  text-align: center;
}

/******************
BUDGET
******************/
.budget-title {
  display: inline-block;
}

.enterBudget {
  padding: 20px 0px 0px;
}

input {
  color: black;
}
