/******************
GENERAL
******************/
body{
  background-image: url('background.jpg');
}
#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
.budgetHolder{
  text-align: center;
}
.budgetText{
  color: #fff;
}
.helloWorld{
  color: blue;
}
p{
  color: #fff;
}
/******************
FONTS
******************/
h1{
  font-family: 'Changa One', 'Sans-serif';
}

/******************
SUBTRACT PAGE
******************/
.subtractInputs{
  display: block;
  margin: 5px auto;
}

/******************
HEADER
******************/
header{
  background: #6ab47b;
  border-color: #599a68;
}
/******************
NAV
******************/
a{
  text-decoration: none;
}
/******************
ABOUT PAGE
******************/
#aboutParagraph{
  text-align: center;
}
